body {
    background-image: linear-gradient(to top left, rgba(0, 255, 0, 0.7), lightcyan);

}

h1 {
    font-family: 'Orbitron', cursive;
    text-align: center;
    text-shadow: 2px 2px 5px green;
    margin: 0px 150px;
    font-size: 50px;
    border: 10px solid;
    padding: 15px;
    border-image: url(images/neongreen.jpg) 60 stretch;
    background: linear-gradient(to top left, rgba(0, 255, 0, 0.2), lightcyan);
}

.content {
    font-family: 'Lato', cursive;
    text-align: center;
    font-size: 33px;
}

#alien {
    padding: 10px;
    position: absolute;
    width: 100px;
    top: 0px;
    left: 10px;
    animation: alien 1s linear 1;
    transition: transform 1.5s ease-in-out;
}

#alien:hover {
    transform: rotateY(360deg);
}

@keyframes alien {
    0% {
        left: -170px;
        top: 0px;
    }
    100% {
        left: 10px;
        top: 0px;
    }
}


#ufo {
    position: absolute;
    width: 150px;
    top: 0px;
    right: 0px;
    animation: saucer 1s linear 1;
    transition: transform 1.5s ease-in-out;
}

#ufo:hover {
    transform: rotateY(360deg);
}

@keyframes ufo {
    0% {
        right: -130px;
        top: 0px;
    }
    100% {
        right: 0px;
        top: 0px;
    }
}


#earth {
    width: 200px;
    height: 150.09375px;
    float: left;
    margin-top: 50px;
    /*animation: earth 1s linear 1 ease-in-out;*/
}

/*@keyframes earth {*/

/*    0% {*/

/*        left: -170px;*/

/*        top: 0px;*/

/*    }*/

/*    100% {*/

/*        float: left;*/

/*        margin-top: 50px;*/

/*    }*/

/*}*/

#space {
    width: 200px;
    float: right;
    margin-top: 50px;
}

.frame {
    text-align: center;
}

.input {
    text-align: center;
    font-family: 'Lato';
}

span {
    color: red;
    font-size: 33px;
}
